# **Tarea Nº 2**

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Sábado 6 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: Braulio Mundaca y Adriana Arce
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## Filtering rows

1. Import the `flights.csv` dataset. Find all flights that:

    a. Had an arrival delay of three or more hours
    b. Flew to Houston (IAH or HOU)
    c. Were operated by United, American, or Southwest
    d. Departed in spring (March, April, and June)
    e. Arrived more than two hours late, but didn’t leave late
    f. Were delayed by at least an hour, but made up over 30 minutes in flight 7. Departed between midnight and 5am (inclusive)

In [2]:
# Importamos pandas
import pandas as pd

# Lee el archivo de csv y lo almacena en un DataFrame
df = pd.read_csv("C:/Users/Usuario/OneDrive/Escritorio/Fundamentos de programación de Python/Tareas/tarea-2-adriana-arce-braulio-mundaca/flights.csv")

#Ahora visualizamos la base de datos
df

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [6]:
#Identificar vuelos que: retraso de 3 o más horas.
flights_with_delay = df[df['arr_delay'] >= 3.0]

#Visualizamos vuelos con retraso
flights_with_delay

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
25,26,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
26,27,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,2013-01-01 06:00:00
27,28,2013,1,1,613.0,610,3.0,925.0,921,4.0,B6,135,N635JB,JFK,RSW,175.0,1074,6,10,2013-01-01 06:00:00
31,32,2013,1,1,623.0,610,13.0,920.0,915,5.0,AA,1837,N3EMAA,LGA,MIA,153.0,1096,6,10,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336759,336760,2013,9,30,2207.0,2140,27.0,2257.0,2250,7.0,MQ,3660,N532MQ,LGA,BNA,97.0,764,21,40,2013-09-30 21:00:00
336760,336761,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-09-30 20:00:00
336762,336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00
336763,336764,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-09-30 20:00:00
336768,336769,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00

In [7]:
#Identificar vuelos a Houston
vuelos_a_Houston = df[df['dest'].isin(['HOU', 'IAH'])]

#Visualizamos
vuelos_a_Houston

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
32,33,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01 06:00:00
81,82,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01 07:00:00
89,90,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336524,336525,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,2013-09-30 17:00:00
336527,336528,2013,9,30,1735.0,1715,20.0,2010.0,2005,5.0,WN,2067,N296WN,EWR,HOU,188.0,1411,17,15,2013-09-30 17:00:00
336618,336619,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,2013-09-30 18:00:00
336694,336695,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00

In [8]:
#Were operated by United, American, or Southwest
aerolineas = df[df['carrier'].isin(['UA', 'AA', 'WN'])]

#Visualizamos
aerolineas

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
5,6,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
9,10,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336736,336737,2013,9,30,2104.0,2030,34.0,2205.0,2150,15.0,WN,382,N7741C,LGA,MDW,105.0,725,20,30,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00
336751,336752,2013,9,30,2140.0,2140,0.0,10.0,40,-30.0,AA,185,N335AA,JFK,LAX,298.0,2475,21,40,2013-09-30 21:00:00
336755,336756,2013,9,30,2149.0,2156,-7.0,2245.0,2308,-23.0,UA,523,N813UA,EWR,BOS,37.0,200,21,56,2013-09-30 21:00:00
336762,336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00

In [11]:
#Identificar vuelos de marzo, april y junio debido a que son los meses a los que se hace referencia en la indicación
marzo_junio= df[df['month'].isin([3, 4, 6])]

#Visualizamos
marzo_junio

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
136247,136248,2013,3,1,4.0,2159,125.0,318.0,56,142.0,B6,11,N706JB,JFK,FLL,166.0,1069,21,59,2013-03-01 21:00:00
136248,136249,2013,3,1,50.0,2358,52.0,526.0,438,48.0,B6,707,N794JB,JFK,SJU,198.0,1598,23,58,2013-03-01 23:00:00
136249,136250,2013,3,1,117.0,2245,152.0,223.0,2354,149.0,B6,608,N328JB,JFK,PWM,48.0,273,22,45,2013-03-01 22:00:00
136250,136251,2013,3,1,454.0,500,-6.0,633.0,648,-15.0,US,1117,N177US,EWR,CLT,79.0,529,5,0,2013-03-01 05:00:00
136251,136252,2013,3,1,505.0,515,-10.0,746.0,810,-24.0,UA,475,N527UA,EWR,IAH,199.0,1400,5,15,2013-03-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250445,250446,2013,6,30,NaN,1945,NaN,NaN,2104,NaN,EV,5714,N836AS,JFK,IAD,NaN,228,19,45,2013-06-30 19:00:00
250446,250447,2013,6,30,NaN,1610,NaN,NaN,1805,NaN,EV,4092,N16147,EWR,DAY,NaN,533,16,10,2013-06-30 16:00:00
250447,250448,2013,6,30,NaN,1709,NaN,NaN,1856,NaN,EV,4662,N16911,EWR,RDU,NaN,416,17,9,2013-06-30 17:00:00
250448,250449,2013,6,30,NaN,2059,NaN,NaN,2307,NaN,EV,5254,N760EV,LGA,DSM,NaN,1031,20,59,2013-06-30 20:00:00
250449,250450,2013,6,30,NaN,1915,NaN,NaN,2131,NaN,EV,5268,N744EV,LGA,CLT,NaN,544,19,15,2013-06-30 19:00:00

In [9]:
#Identificamos los vuelos que no salieron tarde
no_salieron_tarde=df[df['dep_delay'] <= 0]
no_salieron_tarde
#Una vez filtrados, identificamos los que de este grupo, sí llegaron con más de 2 horas de atraso
pero_llegaron_tarde=no_salieron_tarde[no_salieron_tarde['arr_delay'] > 2.0]

#Visualizamos
pero_llegaron_tarde

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
5,6,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
6,7,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00
9,10,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00
12,13,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,2013-01-01 06:00:00
14,15,2013,1,1,559.0,600,-1.0,941.0,910,31.0,AA,707,N3DUAA,LGA,DFW,257.0,1389,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336585,336586,2013,9,30,1829.0,1830,-1.0,2152.0,2142,10.0,DL,1543,N707TW,JFK,SEA,355.0,2422,18,30,2013-09-30 18:00:00
336586,336587,2013,9,30,1829.0,1835,-6.0,2153.0,2148,5.0,AS,5,N528AS,EWR,SEA,341.0,2402,18,35,2013-09-30 18:00:00
336588,336589,2013,9,30,1832.0,1839,-7.0,2009.0,1957,12.0,EV,4131,N13949,EWR,RIC,53.0,277,18,39,2013-09-30 18:00:00
336646,336647,2013,9,30,1929.0,1934,-5.0,2146.0,2136,10.0,EV,4370,N18557,EWR,CHS,92.0,628,19,34,2013-09-30 19:00:00
336758,336759,2013,9,30,2203.0,2205,-2.0,2339.0,2331,8.0,EV,5311,N722EV,LGA,BGR,61.0,378,22,5,2013-09-30 22:00:00

In [16]:
#Identificar vuelos retrasados por al menos una hora y que hayan recuperado al menos 30 minutos de vuelo.
vuelos_retrasados = df[df['dep_delay'] >= 2]
vuelos_que_recuperaron_30_min = vuelos_retrasados[vuelos_retrasados['arr_time'] - vuelos_retrasados['sched_arr_time'] > 30]

#Visualizamos
vuelos_que_recuperaron_30_min

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
25,26,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
69,70,2013,1,1,702.0,700,2.0,1058.0,1014,44.0,B6,671,N779JB,JFK,LAX,381.0,2475,7,0,2013-01-01 07:00:00
73,74,2013,1,1,715.0,713,2.0,911.0,850,21.0,UA,544,N841UA,EWR,ORD,156.0,719,7,13,2013-01-01 07:00:00
85,86,2013,1,1,732.0,645,47.0,1011.0,941,30.0,UA,1111,N37456,EWR,MCO,145.0,937,6,45,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336742,336743,2013,9,30,2119.0,2005,74.0,2310.0,2212,58.0,EV,4321,N17984,EWR,MCI,147.0,1092,20,5,2013-09-30 20:00:00
336744,336745,2013,9,30,2121.0,2100,21.0,2349.0,14,-25.0,DL,2363,N193DN,JFK,LAX,296.0,2475,21,0,2013-09-30 21:00:00
336757,336758,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30 18:00:00
336760,336761,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-09-30 20:00:00
336762,336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00

In [17]:
#Identificar vuelos que hayan salido entre la media noche y las 5 de la madrugada
vuelos_nocturnos= df[(df['dep_time'] >= 0) & (df['dep_time'] <= 5)]

#Visualizamos
vuelos_nocturnos

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
6998,6999,2013,1,9,2.0,2359,3.0,432.0,444,-12.0,B6,739,N603JB,JFK,PSE,193.0,1617,23,59,2013-01-09 23:00:00
7900,7901,2013,1,10,3.0,2359,4.0,426.0,437,-11.0,B6,727,N571JB,JFK,BQN,183.0,1576,23,59,2013-01-10 23:00:00
10452,10453,2013,1,13,1.0,2249,72.0,108.0,2357,71.0,B6,22,N206JB,JFK,SYR,41.0,209,22,49,2013-01-13 22:00:00
10453,10454,2013,1,13,2.0,2359,3.0,502.0,444,18.0,B6,739,N523JB,JFK,PSE,197.0,1617,23,59,2013-01-13 23:00:00
10454,10455,2013,1,13,3.0,2030,213.0,340.0,2350,230.0,B6,1069,N281JB,JFK,AUS,243.0,1521,20,30,2013-01-13 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302755,302756,2013,8,25,3.0,2359,4.0,357.0,350,7.0,B6,745,N571JB,JFK,PSE,202.0,1617,23,59,2013-08-25 23:00:00
319184,319185,2013,9,12,2.0,2103,179.0,114.0,2226,168.0,EV,4119,N13988,EWR,RIC,48.0,277,21,3,2013-09-12 21:00:00
319185,319186,2013,9,12,4.0,2245,79.0,112.0,2351,81.0,B6,1816,N284JB,JFK,SYR,42.0,209,22,45,2013-09-12 22:00:00
319186,319187,2013,9,12,5.0,2100,185.0,214.0,2322,172.0,DL,1247,N906DL,LGA,ATL,102.0,762,21,0,2013-09-12 21:00:00
320176,320177,2013,9,13,3.0,2200,123.0,110.0,2312,118.0,9E,3525,N917XJ,LGA,SYR,36.0,198,22,0,2013-09-13 22:00:00

2. How many flights have a missing dep_time? What other variables are missing? What might these rows represent?

In [ ]:
# Solution

3. What happens to observations **with missing values in `arr_time`** when you filter by **`arr_time == 1800`**? Why? (Hint: compare `2000 == 1800`, `1800 == 1800`, and `NA == 1800`).

In [ ]:
# Solution

4. What does `False & None` evaluate to? Why?

In [ ]:
# Solution

## Select columns

5. Brainstorm as many distinct ways as possible to select `dep_time`, `dep_delay`, `arr_time`, and `arr_delay` from `flights`.

In [ ]:
# Solution

## Sort columns

6. Sort flights to find the most delayed flights by arrival time. Hint: End your code with head(1) to only print that row.

In [ ]:
# Solution

7. Find the top 5 flights that left earliest relative to their scheduled departure. Only show the tail number, date and number of minutes early they departed at.

In [ ]:
# Solution

In [ ]:
8. How could you sort all missing values to the start?

In [ ]:
# Solution

## Add new variables

9. Currently `dep_time` and `arr_time` are convenient to look at, but hard to compute with because they’re not really continuous numbers. Convert them to number of minutes since midnight in new vars called `arr_time_min` and `dep_time_min`

In [ ]:
# Solution

10. Make a plot to compare `air_time` with `arr_time_min` - `dep_time_min`

In [ ]:
# Solution

11. We expect `air_time` and `arr_time_min` - `dep_time_min` to be the same, but they’re not. Why not?
Identify a major data issue and subtle one.

In [ ]:
# Solution

12. Implement your fix to the major probelm. Remake the plot from the previous question.

In [ ]:
# Solution

13. Find the 10 most delayed flights

In [ ]:
# Solution

## Summarizing grouped data

14. Calculate average delays by destination for flights originating in NYC. Create a variable which ranks destinations from worst to best, where 1 is the worst rank.

In [ ]:
# Solution

15. Which plane (`tailnum`) has the most minutes of delays total?

In [ ]:
# Solution

16. Which airlines only offer flights from New York to one other airport?

In [ ]:
# Solution

17. Calculate the median arrival delay by airline.

In [ ]:
# Solution

18. ExpressJet has a median arrival delay of -1 minutes while US Airways has a median arrival delay of -6 minutes. Does this tell you that US Airways is a more reliable airline? Why or why not?

In [ ]:
# Solution

19. Median arrival delay may not be the best metric for our needs. Brainstorm at least 4 additional ways to assess the typical delay characteristics of a group of flights.

In [ ]:
# Solution

20. Write a code which calculates your delay measures separately by airline. Do particular airlines perform poorly on multiple metrics?

In [ ]:
# Solution