# **Tarea Nº 2**

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Sábado 6 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: Braulio Mundaca y Adriana Arce
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## Filtering rows

1. Import the `flights.csv` dataset. Find all flights that:

    a. Had an arrival delay of three or more hours
    b. Flew to Houston (IAH or HOU)
    c. Were operated by United, American, or Southwest
    d. Departed in spring (March, April, and June)
    e. Arrived more than two hours late, but didn’t leave late
    f. Were delayed by at least an hour, but made up over 30 minutes in flight 7. Departed between midnight and 5am (inclusive)

In [1]:
# Importamos pandas
import pandas as pd

# Lee el archivo de csv y lo almacena en un DataFrame
df = pd.read_csv("C:/Users/51985/Desktop/CICLO/QLAB-PYTHON PARA MACRO Y FINANZAS/tarea-2-adriana-arce-braulio-mundaca/flights.csv")

#Ahora visualizamos la base de datos
df

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [22]:
#Identificar vuelos que: retraso de 3 o más horas.
flights_with_delay = df[df['arr_delay'] >= 180]

#Visualizamos vuelos con retraso
flights_with_delay

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
151,152,2013,1,1,848.0,1835,853.0,1001.0,1950,851.0,MQ,3944,N942MQ,JFK,BWI,41.0,184,18,35,2013-01-01 18:00:00
649,650,2013,1,1,1815.0,1325,290.0,2120.0,1542,338.0,EV,4417,N17185,EWR,OMA,213.0,1134,13,25,2013-01-01 13:00:00
673,674,2013,1,1,1842.0,1422,260.0,1958.0,1535,263.0,EV,4633,N18120,EWR,BTV,46.0,266,14,22,2013-01-01 14:00:00
746,747,2013,1,1,2006.0,1630,216.0,2230.0,1848,222.0,EV,4644,N14972,EWR,SAV,121.0,708,16,30,2013-01-01 16:00:00
801,802,2013,1,1,2115.0,1700,255.0,2330.0,1920,250.0,9E,3347,N924XJ,JFK,CVG,115.0,589,17,0,2013-01-01 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335540,335541,2013,9,29,1745.0,1330,255.0,2028.0,1632,236.0,B6,431,N517JB,LGA,SRQ,137.0,1047,13,30,2013-09-29 13:00:00
335720,335721,2013,9,29,2049.0,1730,199.0,2153.0,1852,181.0,B6,86,N373JB,JFK,ROC,44.0,264,17,30,2013-09-29 17:00:00
335778,335779,2013,9,29,2327.0,1942,225.0,153.0,2250,183.0,B6,1271,N659JB,LGA,FLL,129.0,1076,19,42,2013-09-29 19:00:00
336252,336253,2013,9,30,1324.0,830,294.0,1512.0,1040,272.0,EV,5157,N761ND,LGA,CLT,79.0,544,8,30,2013-09-30 08:00:00
336757,336758,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30 18:00:00

In [7]:
#Identificar vuelos a Houston
vuelos_a_Houston = df[df['dest'].isin(['HOU', 'IAH'])]

#Visualizamos
vuelos_a_Houston

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
32,33,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01 06:00:00
81,82,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01 07:00:00
89,90,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336524,336525,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,2013-09-30 17:00:00
336527,336528,2013,9,30,1735.0,1715,20.0,2010.0,2005,5.0,WN,2067,N296WN,EWR,HOU,188.0,1411,17,15,2013-09-30 17:00:00
336618,336619,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,2013-09-30 18:00:00
336694,336695,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00

In [8]:
#Were operated by United, American, or Southwest
aerolineas = df[df['carrier'].isin(['UA', 'AA', 'WN'])]

#Visualizamos
aerolineas

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
5,6,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
9,10,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336736,336737,2013,9,30,2104.0,2030,34.0,2205.0,2150,15.0,WN,382,N7741C,LGA,MDW,105.0,725,20,30,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00
336751,336752,2013,9,30,2140.0,2140,0.0,10.0,40,-30.0,AA,185,N335AA,JFK,LAX,298.0,2475,21,40,2013-09-30 21:00:00
336755,336756,2013,9,30,2149.0,2156,-7.0,2245.0,2308,-23.0,UA,523,N813UA,EWR,BOS,37.0,200,21,56,2013-09-30 21:00:00
336762,336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00

In [11]:
#Identificar vuelos de marzo, april y junio debido a que son los meses a los que se hace referencia en la indicación
marzo_junio= df[df['month'].isin([3, 4, 6])]

#Visualizamos
marzo_junio

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
136247,136248,2013,3,1,4.0,2159,125.0,318.0,56,142.0,B6,11,N706JB,JFK,FLL,166.0,1069,21,59,2013-03-01 21:00:00
136248,136249,2013,3,1,50.0,2358,52.0,526.0,438,48.0,B6,707,N794JB,JFK,SJU,198.0,1598,23,58,2013-03-01 23:00:00
136249,136250,2013,3,1,117.0,2245,152.0,223.0,2354,149.0,B6,608,N328JB,JFK,PWM,48.0,273,22,45,2013-03-01 22:00:00
136250,136251,2013,3,1,454.0,500,-6.0,633.0,648,-15.0,US,1117,N177US,EWR,CLT,79.0,529,5,0,2013-03-01 05:00:00
136251,136252,2013,3,1,505.0,515,-10.0,746.0,810,-24.0,UA,475,N527UA,EWR,IAH,199.0,1400,5,15,2013-03-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250445,250446,2013,6,30,NaN,1945,NaN,NaN,2104,NaN,EV,5714,N836AS,JFK,IAD,NaN,228,19,45,2013-06-30 19:00:00
250446,250447,2013,6,30,NaN,1610,NaN,NaN,1805,NaN,EV,4092,N16147,EWR,DAY,NaN,533,16,10,2013-06-30 16:00:00
250447,250448,2013,6,30,NaN,1709,NaN,NaN,1856,NaN,EV,4662,N16911,EWR,RDU,NaN,416,17,9,2013-06-30 17:00:00
250448,250449,2013,6,30,NaN,2059,NaN,NaN,2307,NaN,EV,5254,N760EV,LGA,DSM,NaN,1031,20,59,2013-06-30 20:00:00
250449,250450,2013,6,30,NaN,1915,NaN,NaN,2131,NaN,EV,5268,N744EV,LGA,CLT,NaN,544,19,15,2013-06-30 19:00:00

In [25]:
#Identificamos los vuelos que no salieron tarde
no_salieron_tarde=df[df['dep_delay'] <= 0]
no_salieron_tarde
#Una vez filtrados, identificamos los que de este grupo, sí llegaron con más de 2 horas de atraso
pero_llegaron_tarde=no_salieron_tarde[no_salieron_tarde['arr_delay'] > 120]

#Visualizamos
pero_llegaron_tarde

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
22911,22912,2013,1,27,1419.0,1420,-1.0,1754.0,1550,124.0,MQ,3728,N1EAMQ,EWR,ORD,135.0,719,14,20,2013-01-27 14:00:00
33011,33012,2013,10,7,1350.0,1350,0.0,1736.0,1526,130.0,EV,5181,N611QX,LGA,MSN,117.0,812,13,50,2013-10-07 13:00:00
33019,33020,2013,10,7,1357.0,1359,-2.0,1858.0,1654,124.0,AA,1151,N3CMAA,LGA,DFW,192.0,1389,13,59,2013-10-07 13:00:00
41075,41076,2013,10,16,657.0,700,-3.0,1258.0,1056,122.0,B6,3,N703JB,JFK,SJU,225.0,1598,7,0,2013-10-16 07:00:00
55985,55986,2013,11,1,658.0,700,-2.0,1329.0,1015,194.0,VX,399,N629VA,JFK,LAX,336.0,2475,7,0,2013-11-01 07:00:00
152766,152767,2013,3,18,1844.0,1847,-3.0,39.0,2219,140.0,UA,389,N560UA,JFK,SFO,386.0,2586,18,47,2013-03-18 18:00:00
180893,180894,2013,4,17,1635.0,1640,-5.0,2049.0,1845,124.0,MQ,4540,N721MQ,LGA,DTW,130.0,502,16,40,2013-04-17 16:00:00
181270,181271,2013,4,18,558.0,600,-2.0,1149.0,850,179.0,AA,707,N3EXAA,LGA,DFW,234.0,1389,6,0,2013-04-18 06:00:00
181327,181328,2013,4,18,655.0,700,-5.0,1213.0,950,143.0,AA,2083,N565AA,EWR,DFW,230.0,1372,7,0,2013-04-18 07:00:00
213693,213694,2013,5,22,1827.0,1830,-3.0,2217.0,2010,127.0,MQ,4674,N518MQ,LGA,CLE,90.0,419,18,30,2013-05-22 18:00:00
214512,214513,2013,5,23,1810.0,1810,0.0,2208.0,2000,128.0,MQ,4626,N525MQ,LGA,CMH,82.0,479,18,10,2013-05-23 18:00:00
226434,226435,2013,6,5,1604.0,1615,-11.0,2041.0,1840,121.0,MQ,4657,N510MQ,LGA,ATL,158.0,762,16,15,2013-06-05 16:00:00
235033,235034,2013,6,14,1708.0,1710,-2.0,2227.0,2015,132.0,AA,181,N320AA,JFK,LAX,334.0,2475,17,10,2013-06-14 17:00:00
244329,244330,2013,6,24,1602.0,1605,-3.0,2134.0,1916,138.0,DL,706,N3768,JFK,AUS,247.0,1521,16,5,2013-06-24 16:00:00
247568,247569,2013,6,27,2052.0,2100,-8.0,13.0,2210,123.0,US,2144,N952UW,LGA,BOS,46.0,184,21,0,2013-06-27 21:00:00
249957,249958,2013,6,30,1423.0,1425,-2.0,1816.0,1554,142.0,B6,2402,N206JB,JFK,BUF,80.0,301,14,25,2013-06-30 14:00:00
250689,250690,2013,7,1,905.0,905,0.0,1443.0,1223,140.0,DL,1057,N337NB,LGA,MIA,183.0,1096,9,5,2013-07-01 09:00:00
256340,256341,2013,7,7,1659.0,1700,-1.0,2050.0,1823,147.0,US,2183,N948UW,LGA,DCA,64.0,214,17,0,2013-07-07 17:00:00
256358,256359,2013,7,7,1727.0,1730,-3.0,2203.0,1951,132.0,F9,837,N263AV,LGA,DEN,236.0,1620,17,30,2013-07-07 17:00:00
256373,256374,2013,7,7,1746.0,1755,-9.0,2133.0,1921,132.0,B6,1407,N374JB,JFK,IAD,78.0,228,17,55,2013-07-07 17:00:00
256405,256406,2013,7,7,1823.0,1830,-7.0,2201.0,1955,126.0,MQ,3486,N724MQ,LGA,BNA,113.0,764,18,30,2013-07-07 18:00:00
270742,270743,2013,7,22,1555.0,1600,-5.0,2139.0,1938,121.0,DL,141,N713TW,JFK,SFO,371.0,2586,16,0,2013-07-22 16:00:00
270752,270753,2013,7,22,1606.0,1615,-9.0,2056.0,1831,145.0,DL,1619,N970DL,LGA,MSP,140.0,1020,16,15,2013-07-22 16:00:00
270762,270763,2013,7,22,1628.0,1630,-2.0,2151.0,1939,132.0,B6,423,N625JB,JFK,LAX,332.0,2475,16,30,2013-07-22 16:00:00
276564,276565,2013,7,28,1710.0,1711,-1.0,2248.0,2039,129.0,B6,167,N510JB,JFK,OAK,353.0,2576,17,11,2013-07-28 17:00:00
287148,287149,2013,8,8,1457.0,1500,-3.0,1828.0,1624,124.0,US,2185,N746UW,LGA,DCA,70.0,214,15,0,2013-08-08 15:00:00
291439,291440,2013,8,13,657.0,659,-2.0,1015.0,814,121.0,EV,4522,N14188,EWR,BNA,146.0,748,6,59,2013-08-13 06:00:00
305985,305986,2013,8,28,1157.0,1200,-3.0,1520.0,1316,124.0,US,2179,N737US,LGA,DCA,63.0,214,12,0,2013-08-28 12:00:00
325764,325765,2013,9,19,656.0,700,-4.0,1037.0,833,124.0,UA,331,N808UA,LGA,ORD,192.0,733,7,0,2013-09-19 07:00:00

In [19]:
#Identificar vuelos retrasados por al menos una hora y que hayan recuperado al menos 30 minutos de vuelo.
vuelos_retrasados = df[df['dep_delay'] >= 2]
vuelos_que_recuperaron_30_min = vuelos_retrasados[vuelos_retrasados['arr_time'] - vuelos_retrasados['sched_arr_time'] > 30]

#Visualizamos
vuelos_que_recuperaron_30_min

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
25,26,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
69,70,2013,1,1,702.0,700,2.0,1058.0,1014,44.0,B6,671,N779JB,JFK,LAX,381.0,2475,7,0,2013-01-01 07:00:00
73,74,2013,1,1,715.0,713,2.0,911.0,850,21.0,UA,544,N841UA,EWR,ORD,156.0,719,7,13,2013-01-01 07:00:00
85,86,2013,1,1,732.0,645,47.0,1011.0,941,30.0,UA,1111,N37456,EWR,MCO,145.0,937,6,45,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336742,336743,2013,9,30,2119.0,2005,74.0,2310.0,2212,58.0,EV,4321,N17984,EWR,MCI,147.0,1092,20,5,2013-09-30 20:00:00
336744,336745,2013,9,30,2121.0,2100,21.0,2349.0,14,-25.0,DL,2363,N193DN,JFK,LAX,296.0,2475,21,0,2013-09-30 21:00:00
336757,336758,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30 18:00:00
336760,336761,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-09-30 20:00:00
336762,336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
6998,6999,2013,1,9,2.0,2359,3.0,432.0,444,-12.0,B6,739,N603JB,JFK,PSE,193.0,1617,23,59,2013-01-09 23:00:00
7900,7901,2013,1,10,3.0,2359,4.0,426.0,437,-11.0,B6,727,N571JB,JFK,BQN,183.0,1576,23,59,2013-01-10 23:00:00
10452,10453,2013,1,13,1.0,2249,72.0,108.0,2357,71.0,B6,22,N206JB,JFK,SYR,41.0,209,22,49,2013-01-13 22:00:00
10453,10454,2013,1,13,2.0,2359,3.0,502.0,444,18.0,B6,739,N523JB,JFK,PSE,197.0,1617,23,59,2013-01-13 23:00:00
10454,10455,2013,1,13,3.0,2030,213.0,340.0,2350,230.0,B6,1069,N281JB,JFK,AUS,243.0,1521,20,30,2013-01-13 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302755,302756,2013,8,25,3.0,2359,4.0,357.0,350,7.0,B6,745,N571JB,JFK,PSE,202.0,1617,23,59,2013-08-25 23:00:00
319184,319185,2013,9,12,2.0,2103,179.0,114.0,2226,168.0,EV,4119,N13988,EWR,RIC,48.0,277,21,3,2013-09-12 21:00:00
319185,319186,2013,9,12,4.0,2245,79.0,112.0,2351,81.0,B6,1816,N284JB,JFK,SYR,42.0,209,22,45,2013-09-12 22:00:00
319186,319187,2013,9,12,5.0,2100,185.0,214.0,2322,172.0,DL,1247,N906DL,LGA,ATL,102.0,762,21,0,2013-09-12 21:00:00
320176,320177,2013,9,13,3.0,2200,123.0,110.0,2312,118.0,9E,3525,N917XJ,LGA,SYR,36.0,198,22,0,2013-09-13 22:00:00

2. How many flights have a missing dep_time? What other variables are missing? What might these rows represent?

In [26]:
# Solución
null_count_dep_time = df['dep_time'].isna().sum()

#Visualizamos los vuelos que tienen missing values en dep_time.
null_count_dep_time

8255

In [27]:
#¿Qué otras variables tienen missing values?
Missing_variables = df.isna().sum()
Missing_variables

Unnamed: 0           0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [ ]:
#Las variables que tienen missing son: dep_time, dep_delay, arr_time, tailnum, air_time. Estas filas representan valores que son ceros o que no están registrados.

3. What happens to observations **with missing values in `arr_time`** when you filter by **`arr_time == 1800`**? Why? (Hint: compare `2000 == 1800`, `1800 == 1800`, and `NA == 1800`).

In [7]:
# Solution
arr_time_1800 = df[df['arr_time'] == 1800]
arr_time_1800
print(arr_time_1800)
#No aparecen missing values porque no cumplirán con la condición, ya que no albergan ningún valor

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
1327          1328  2013      1    2    1442.0            1430       12.0
1426          1427  2013      1    2    1600.0            1501       59.0
1433          1434  2013      1    2    1603.0            1517       46.0
2349          2350  2013      1    3    1602.0            1600        2.0
3333          3334  2013      1    4    1658.0            1705       -7.0
...            ...   ...    ...  ...       ...             ...        ...
334637      334638  2013      9   28    1530.0            1535       -5.0
334656      334657  2013      9   28    1555.0            1600       -5.0
334707      334708  2013      9   28    1651.0            1635       16.0
336376      336377  2013      9   30    1521.0            1521        0.0
336464      336465  2013      9   30    1643.0            1629       14.0

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
1327      1800.0            1752        8.0      DL    1531  N378NW    LGA
1426      1800.0            1651       69.0      EV    5675  N16976    EWR
1433      1800.0            1639       81.0      EV    4580  N13968    EWR
2349      1800.0            1849      -49.0      UA     387  N439UA    EWR
3333      1800.0            1830      -30.0      MQ    4410  N839MQ    JFK
...          ...             ...        ...     ...     ...     ...    ...
334637    1800.0            1811      -11.0      DL    1773  N3734B    JFK
334656    1800.0            1833      -33.0      DL     221  N939DL    LGA
334707    1800.0            1815      -15.0      MQ    2949  N681MQ    JFK
336376    1800.0            1819      -19.0      UA    1600  N33103    EWR
336464    1800.0            1750       10.0      YV    3771  N510MJ    LGA

       dest  air_time  distance  hour  minute            time_hour
1327    RSW     178.0      1080    14      30  2013-01-02 14:00:00
1426    CMH      92.0       463    15       1  2013-01-02 15:00:00
1433    MKE     154.0       725    15      17  2013-01-02 15:00:00
2349    LAS     273.0      2227    16       0  2013-01-03 16:00:00
3333    DCA      44.0       213    17       5  2013-01-04 17:00:00
...     ...       ...       ...   ...     ...                  ...
334637  LAS     285.0      2248    15      35  2013-09-28 15:00:00
334656  ATL      96.0       762    16       0  2013-09-28 16:00:00
334707  BNA     105.0       765    16      35  2013-09-28 16:00:00
336376  LAX     308.0      2454    15      21  2013-09-30 15:00:00
336464  IAD      42.0       229    16      29  2013-09-30 16:00:00

[407 rows x 20 columns]

4. What does `False & None` evaluate to? Why?

In [ ]:
# Solution
#Reconocen los booleans que tienen el valor de 0 y los None son valores que no son missing values pero sí abarcan un valor

## Select columns

5. Brainstorm as many distinct ways as possible to select `dep_time`, `dep_delay`, `arr_time`, and `arr_delay` from `flights`.

In [10]:
# Solution
#Hay distintas maneras de hacerlo por ejemplo usando corchetes y el nombre de las columnas
variables1 = df[['dep_time', 'dep_delay', 'arr_time', 'arr_delay']]
variables1

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

In [11]:
#Usando loc
variables2 = df.loc[:, ['dep_time', 'dep_delay', 'arr_time', 'arr_delay']]
variables2

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

In [19]:
#Usando el indices de sus columnas
variables3 = df.iloc[:, [4, 6, 7, 9]]
variables3

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

## Sort columns

6. Sort flights to find the most delayed flights by arrival time. Hint: End your code with head(1) to only print that row.

In [20]:
# Solution
most_delayed_flight=df.sort_values( ["arr_time"] , ascending = False)
most_delayed_flight. head(1)

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
244603,244604,2013,6,24,2246.0,1859,227.0,2400.0,2026,214.0,EV,4131,N11150,EWR,RIC,48.0,277,18,59,2013-06-24 18:00:00

7. Find the top 5 flights that left earliest relative to their scheduled departure. Only show the tail number, date and number of minutes early they departed at.

In [27]:
# Solution
earliest_flights_ever=df.sort_values( ["dep_delay"] , ascending = True)[['tailnum', 'year', 'month', 'day','dep_delay']]
earliest_flights_ever.head(5)

       tailnum  year  month  day  dep_delay
89673   N592JB  2013     12    7      -43.0
113633  N612DL  2013      2    3      -33.0
64501   N825AS  2013     11   10      -32.0
9619    N934DL  2013      1   11      -30.0
24915   N208FR  2013      1   29      -27.0

In [ ]:
8. How could you sort all missing values to the start?

In [ ]:
# Solution

## Add new variables

9. Currently `dep_time` and `arr_time` are convenient to look at, but hard to compute with because they’re not really continuous numbers. Convert them to number of minutes since midnight in new vars called `arr_time_min` and `dep_time_min`

In [ ]:
# Solution

10. Make a plot to compare `air_time` with `arr_time_min` - `dep_time_min`

In [ ]:
# Solution

11. We expect `air_time` and `arr_time_min` - `dep_time_min` to be the same, but they’re not. Why not?
Identify a major data issue and subtle one.

In [ ]:
# Solution

12. Implement your fix to the major probelm. Remake the plot from the previous question.

In [ ]:
# Solution

13. Find the 10 most delayed flights

In [ ]:
# Solution

## Summarizing grouped data

14. Calculate average delays by destination for flights originating in NYC. Create a variable which ranks destinations from worst to best, where 1 is the worst rank.

In [ ]:
# Solution

15. Which plane (`tailnum`) has the most minutes of delays total?

In [ ]:
# Solution

16. Which airlines only offer flights from New York to one other airport?

In [ ]:
# Solution

17. Calculate the median arrival delay by airline.

In [ ]:
# Solution

18. ExpressJet has a median arrival delay of -1 minutes while US Airways has a median arrival delay of -6 minutes. Does this tell you that US Airways is a more reliable airline? Why or why not?

In [ ]:
# Solution

19. Median arrival delay may not be the best metric for our needs. Brainstorm at least 4 additional ways to assess the typical delay characteristics of a group of flights.

In [ ]:
# Solution

20. Write a code which calculates your delay measures separately by airline. Do particular airlines perform poorly on multiple metrics?

In [ ]:
# Solution